*{
  margin: 0px;
  padding: 0px;
}
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color: #00E676;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: rgb(172, 190, 70);
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: #00E676;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: teal;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}
*.nav{
  margin: auto;
  text-align: center;
  font-family: fantasy;
  width: 100%;
  font-size: 20px;
}
header{
  background-image:url(image/slider-2.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
}
.main{
  max-width: 1200px;
  margin:auto;
}
.tittle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.tittle h1{
  color: white;
  font-size: 50px;
}
.content-body{
    float:left;
    width:60%;
    padding:10px 100px;
    position: center;
}
.content-body h2{
    font-family: myFont;
    margin-bottom:20px;
    font-size: 40px!important;
    font-weight: 400;
    letter-spacing: 10px;
    line-height: 2;
}
.content-body p{
    line-height: 2;
    font-size: 30px!important;
    
}
.menu-item{
    margin-top: 20px;
    padding: 10px 10px;
    width: 50%;
    float: left;
}
.menu-item h2{
    font-weight: normal;
    text-align: center;
    font-size: 30px;

}
.menu-item img{
    width: 150px;
    height: 150px;
    font-size: 30px;
}
.menu-item h3{
    font-weight: normal;
    text-align: left;
    font-size: 30px!important;
}
.menu-item p{
    font-style: italic;
    text-decoration-color: tomato;
    position: relative;
    font-size: 25px!important;
    text-align: right;
}
.content-footer{
    padding: 100px 100px;
    float: left;
    width: 100%;
    margin: 0 auto;
}
.content-footer h2{
    font-size: 25px!important;
    font-style: normal;
}
.content-footer p{
    font-size: 25px!important;
}
.col.content-footer h2{
    font-family: myFont;
    font-size: 20px!important;
    line-height: 1,5;
}
.col-content-footer p{
    margin-top: 20px;
    line-height: 2em;
}
.border-btm-footer{
    border-bottom: 1px solid #757575;
    margin-top:10px;
    content: '';
    display: block;
    height: 1px;
    width: 50px;
}
.footer{
    float:left;
    width:100%;
    padding: 15px 0px;
    position: relative;
    background: #595959;
    color:#ffffff;
}   
.nav-contact{
    padding:10px 0px;
}
.nav-contact li{
    padding-top:10px;
    list-style: none;
    font-size:20px!important;
}
